extends layouts/default

block content
  .container
    .row.m-y-3
      .col-xs.text-xs-center
        img.img-fluid.m-y-2.m-x-auto.d-block(src='images/farmers-logo.png' width='235')
        h1 Mitchell Aker
    .row.m-b-3
      .col-xs-12.col-sm-6
        img.img-fluid.img-rounded.m-x-auto.d-block(src='images/mitch.jpg')
      .col-xs-12.col-sm-6
        h2.sr-only Bio
        h5 Hi, I'm Mitch
        p
          | I have been in customer service for over 15 years, and I get great joy when I am able to help my customers get a quality affordable product.
        p
          | I do not like to sell. I much prefer the consultative approach to insurance.
        p
          | I want you to be well informed and to ask questions.
        p
          | Please call or email to set up a time that we can discuss your wants and needs.
        p
          | I specialize Auto, Home, Renters, and Life Insurance.
          
        h2 Contact Info
        ul.list-unstyled
          li Office: 
            a(href='tel:763.450.0750') 763.450.0750
          li Cell: 
            a(href='tel:763.453.2980') 763.453.2980
          li Fax: 
            | 763.450.0749
          li
            a(href='mailto:maker@farmersagent.com')
              | maker@farmersagent.com
          li
            addr
              | 8441 Wayzata Blvd, Suite 220<br>
              | Minneapolis, MN 55426
